.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.line{
    height: 1px;
    width: 10%;
    background-color: #d2a12f;
}
.icon{
    color: #dda626;
    font-size: 250%;
}