.container{
    color: #fdfcfc;
}
.container{
    background-image: linear-gradient(rgb(37, 37, 54), rgb(56, 56, 92));
}
.title{
    font-family: 'Mandali', sans-serif;
    font-size: 500%;
}
.titleFade {
    font-family: 'Mandali', sans-serif;
    font-size: 500%;
    background-image: linear-gradient(#fff, #fff);
    background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-left: 60rem;
    padding-top: 30rem;
    width: 100%;
}
.link{
    font-family: 'Yeseva One', serif;
    font-size: 500%;
    width: 100%;
    color: rgb(199, 139, 0);
    background-image: linear-gradient(#b98200, #ffc94c);
    margin-left: 60rem;
    padding-top: 30rem;
    background-clip: text;
   -webkit-text-fill-color: transparent;

}
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/originals/5a/ab/18/5aab18d5d3ba0f96c7091cc4cc3aae3d.jpg");
    mask-image: linear-gradient(to top, transparent 0.1%, black 100%);  
    max-height: 1800px;
    padding-bottom: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.bannerText{
    /*z-index: 9999; */
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}