.container{
    background-image: linear-gradient(to right, #252536, #616189);
    color: #dfddeb;
}
.section1{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section2, .section3, .section4{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.mainText, .linkSection{
    margin: 10px;
    font-size: 150%;
    align-items: center;
    text-align: center;
}
.arrowIcon{
    margin-left: 10px;
    width: 40px;
    transition: ease 0.5s;
}
.link{
    text-decoration: none;
    color: #dfddeb;
    font-size: 100%;

}
.link:hover{
    transition: ease 0.5s;
    border-bottom: 2px solid #dfddeb;
}
.title{
    font-size: 200%;
    margin-bottom: 20px;
}
.subtitle{
    font-family: 'Yeseva One', serif;
    font-size: 400%;
   margin-bottom: 90px;
   transition: ease 0.5s;
}
.subtitle:hover{
    cursor: pointer;
    transition: ease 0.5s;
    color: rgb(255, 205, 87);
    text-shadow: 2px 2px 20px rgba(255, 198, 66, 0.40);
}
.linkSection:hover .arrowIcon{
    transition: ease 0.5s;
    transform: translateX(10px);
}
.img{
    align-items: center;
    mask-image: linear-gradient(to top, transparent 0.1%, black 100%);  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 675px;
    border-radius: 10px;
}
.divisory{
    width: 100%;
}
.section0{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.subMainTitle{
    text-decoration: none;
    color: #dfddeb;
    font-size: 150%;
}
.mainTitle{
    font-family: 'Yeseva One', serif;
    font-size: 700%;
   transition: ease 0.5s;
}
.mainTitle:hover{
    cursor: pointer;
    transition: ease 0.5s;
    color: #ffcd57;
    text-shadow: 2px 2px 20px #ffc64266;
}