/* contato.module.css */

.pai{
  background-image: linear-gradient(to right, #252536, #616189);
    color: #dfddeb;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin-left: 25%;
    padding: 20px;
    
}
  
  
  .imgContainer {
    flex: 0 0 auto;
    margin-right: 60px;
    max-width: 300px;
  }
  
  .img {
    max-width: 120%;
    height: auto;
    border-radius: 10px;
  }
  
  .content {
    flex: 1;
    margin-left:20% ;
  }
  .divisory {
    width: 100%;
}
  .titulo {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Yeseva One', serif;
    font-size: 210%;
    color: white;
    background-image: linear-gradient(#b98200, #ffc94c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 25%;

  }
  
  .titulo:hover {
    cursor: pointer;
    transition: ease 0.5s;
    color: rgb(255, 205, 87);
    text-shadow: 2px 2px 20px rgba(255, 198, 66, 0.40);
  }
  
  .info {
    margin-bottom: 20px;
  }
  
  .input {
    border-bottom: 0.5px #ffc94c inset;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    color: #fdfcfc;
    font-family: 'Mandali', sans-serif;
    font-size: 135%;
    width: 300px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
    
  }
  

  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 90px;
    background-color: #d6a739;
    color: #000000;
    cursor: pointer;
    font-size: 100%;
  }
  .form{
    padding-bottom: 20%;
  }
  /* contato.module.css */

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .imgContainer {
    margin-bottom: 20px;
  }
}

/* Estilos para telas maiores */
@media screen and (min-width: 769px) {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .imgContainer {
  
    

  }
  

  .content {
    flex: 1;

  }

  .form {
    display: flex;
    flex-direction: column;
   
  }

  /* Aqui você pode definir outras regras de estilo conforme necessário */
}
