.sucesso{
    width: 30%;
    height: 40px;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 16px;
    color: white;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: white !important;
}
.erro{
    width: 30%;
    height: 40px;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 16px;
    color: white;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white !important;
}
